.viewMore{
    cursor:pointer;
    float:right;
    margin-top:3px;
}
.viewMorertl{
    cursor:pointer;
    float:left;
    margin-top:3px;
}
.opv_cardItem{
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 30px;
}
.TaskAction{
    display:inline-block;
}
.TaskAction a i{
    font-size:19px;
    color:#0054A3;
}
[class^="icon-"]:before, [class*=" icon-"]:before{
    margin-left:0px;
}
.startDateHt{
    height:70px;
}