@import "variables";

@import url('/resource/ta_slds/slds.min.css');

.vlocity{
    
    .lineNumber {
        font-family: "Platform Light", Platform, "Salesforce Sans", Arial, sans-serif;
        background: #FFF !important;
        font-size: 42px;
    }
    
    .slds-dropdown {
        width: 320px !important;
    }
    
    .negotationsfilter {
    	border-radius: 5px;
    	background-color: rgba(238, 238, 238, 0.3);
    	border: solid 1px #eeeeee;
    	width: 100%;
    }
    
    .filterNegotiations {
        background-color: #00b7d7;
	    border: solid 1px #00b4c5;
    }
    
    .slds-is-sorted .slds-is-sortable__icon {
         fill: #333 !important;
    }

    .slds-is-sortable__icon {
        fill: #C7C7C7;
        display: inline-block;
    }
    
    // sortable indicators
    /*.slds-icon-text-default {
        fill: #333 !important;
    }
    
    .sortable_indicator {
        display: inline-block;
        fill: #C7C7C7 !important;
        margin-left: 4px;
        width: 13px;
    }
    
    .slds-is-sorted .sortable_indicator {
        display: none !important;
    }
    */
    
    .unfix-control .slds-datepicker {
        width: auto;
    }
    
    .slds-datepicker__month tbody tr td a{
        display: none;
    }
    
    .container-table-canvas .slds-grid .slds-form-element__control {
        display: inline-block;
    }
     .np-requirement-table-row {
        td{
            font-size: medium;
        }
    }
    
    .row-action {
        text-align: right;
    }
    
    .custom-border--bottom
    {
        border-bottom: 1px solid #d8dde6;
    }
    
    .via-slds .slds-picklist .slds-dropdown.resize-dropdowns {
        width: 100%
    }
    
    .via-slds .slds-picklist__input.unfix-control {
        width: auto;
    }
    
    // -->
    
    .boton  {
    background-color: white;
    color: #2FC2D0 !important;
    border: 1px solid #2FC2D0;
    font-weight: bold ;
    font-size: 14px !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 35px;
    width: 120px;
background-image: url(https://ta-dev--desa01--c.cs63.content.force.com/servlet/servlet.ImageServer?id=0156C000000Edsk&oid=00D6C0000000eSz&lastMod=1516316412000); 
background-repeat: no-repeat; 
background-position: left; 
padding-left:  -20px;
background-size: 33px;

}

.boton2  {
    background-color: white;
    color: #2FC2D0 !important;
    border: 1px solid #2FC2D0;
    font-weight: bold ;
    font-size: 14px !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 35px;
    width: 120px;
background-image: url(https://ta-dev--desa01--c.cs63.content.force.com/servlet/servlet.ImageServer?id=0156C000000Edsp&oid=00D6C0000000eSz&lastMod=1516317009000); 
background-repeat: no-repeat; 
background-position: left; 
padding-left:  -20px;
background-size: 33px;


}
}