.via-slds {
    .ta-friendsAndFamilyList {
        &, .slds-text-title, .slds-input, .slds-form-element__control>div.vlc-control-wrapper>label {
            color: #333333 !important;
        }
        
        .ta-divider.slds-has-divider--bottom {
            border-bottom: 2px solid #21acaf;
        }
        
        .ta-invalidField {
            border: 1px solid red !important;
        }
    }
    
}