.THIS {
}
div.cCreateWorkTeam.header__c {
    border-bottom: 1px solid #cccccc;
    padding: 16px;
}
div.cCreateWorkTeam.header__c h1{
    font-size: 2em;
}
div.cCreateWorkTeam.header__c > div {
    position: relative;
    display: inline-block;
}
div.cCreateWorkTeam.header__c .input_search > span {
    position: absolute;
    top: 20px;
    right: 8px;
    cursor: pointer;
}
div.cCreateWorkTeam.header__c .input_search > span svg{
    width: 20px;
    fill: #CCCCCC;
}
div.cCreateWorkTeam.header__c .button__c button {
    width: 90%;
}
div.cCreateWorkTeam.body__c .slds-grid {
    max-width: 100%;
    display: block;
}
div.cCreateWorkTeam.body__c .slds-grid .slds-card {
    margin: 1.5%;
    width: 30%;
    display: inline-block;
}
@media only screen and (max-width: 767px) {
    div.cCreateWorkTeam.body__c .slds-grid .slds-card {
        width: 97%;
    }
}
div.cCreateWorkTeam.body__c .slds-grid .slds-card .slds-card__body {
    padding: 16px;
}
div.cCreateWorkTeam.body__c .slds-grid .slds-card+.slds-card {
    margin-top: 0;
}
div.cCreateWorkTeam.body__c .slds-grid .slds-button-group {
    border-top: 1px solid #cccccc;
    width: 100%;
    padding-top: 16px;
    margin-top: 16px;
}
div.cCreateWorkTeam.body__c .slds-grid .slds-button, div.cCreateWorkTeam.header__c .button__c .slds-button {
    background-color: #00b7c9;
    border-color: #00b7c9;
    margin-right: 8px;
}
div.cCreateWorkTeam.body__c .slds-grid .slds-icon {
    fill: #00b7c9;
    margin-right: 8px;
    cursor: pointer;
}