.ta-Care-Bundle-View-Product{
    width:100%;
    padding-bottom: 1em;
}

.ta-Care-Bundle-View-Product-Info-Area{
    width: 100%;
    float:right;
    td{
        padding-bottom: 0.5em;
    }
}

.ta-Care-Bundle-View-Product-Img-Area{
  width: 50%;
  float:left;
}

.ta-Care-Bundle-View-Product-Title{
    width: 130px;
    height: 18px;
    font-family: "Salesforce Sans";
    font-size: 14px;
    text-align: left;
    color: #000000;
}

.ta-Care-Bundle-View-Product-Field-Title{
      width: 38px;
      height: 15px;
      font-family: "Salesforce Sans";
      font-size: 12px;
      text-align: left;
      color: #555555;
}

.ta-Care-Bundle-View-Product-Field-Detail{
    width: 35px;
    height: 15px;
    font-family: "Salesforce Sans";
    font-size: 12px;
    text-align: left;
    color: #090909;
}

.ta-Care-Bundle-View-Product-Field-Detail-Active{
  width: 9px;
  height: 31px;
  font-family: "Salesforce Sans";
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  color: #1cd310;
}

.ta-Care-Bundle-View-Product-Field-Detail-Inactive{
    width: 9px;
    height: 31px;
    font-family: "Salesforce Sans";
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #d31e10;
}




.Estado {
  width: 38px;
  height: 15px;
  font-family: SalesforceSans;
  font-size: 12px;
  text-align: left;
  color: #555555;
}

/*
.ta-Care-Bundle-View-Product-Actions{
  width:50%;
  float:left;
  border-right: 1px solid #d8dde6;
    a {
    height: 15px;   
    width: 184px;    
    color: #00B7D7;
    font-family: "Salesforce Sans";
    line-height: 3em;
    font-size: 12px;
    text-align: center;
    }
}
*/

.vlocity {
    .action-links {
        color: #00B7D7;
        font-size: 12px;
        text-align: center;
        display: inline-block;
        &-wrapper {
            text-align: center;
        }
        a{
            font-family: "Salesforce Sans";
            color: #00B7D7;
            font-size:12px;
            font-weight: normal;
            cursor: pointer;
            line-height: 3em;
            height: 15px;  
        }
        .separator {
            line-height:15px;
            color:#00B7D7;
            padding:0px 5px;
        }
    }
    
    .bundle-field-title {
        color: #555555;
        width: 38px;
        height: 15px;
        font-family: "Salesforce Sans";
        font-size: 12px;
    }
    
    .bundle-field-no-title {
        font-family: "Salesforce Sans";
        font-size: 14px;
        text-align: left;
        color: #000000;
        font-weight: bold;
    }
}