<div class="cpq-product-filters slds-grid slds-grid--vertical">
    <!--<pre> {{records | json}}</pre>-->
    <!-- scroll class is added for ionic scroll-->
    <div class="slds-col cpq-product-cart-config-form scroll">
        <!-- form -->
        <div class="">
            <button type="button" class="slds-button" ng-click="importedScope.resetFilter(records)">
                {{::importedScope.customLabels.CPQReset}}
            </button>
            <button type="button" class="slds-button slds-button--neutral" ng-click="importedScope.submitFilter(records)">
                {{::importedScope.customLabels.CPQApply}}
            </button>
        </div>
        
        <div ng-if="records.length >0">
            <vlocity-dynamic-form ng-model="records" map-object="{{importedScope.filterMapObject()}}" class="slds-form--stacked"></vlocity-dynamic-form>
        </div>
        
        <div ng-if="records.length === 0">
            {{::importedScope.customLabels.CPQFiltersNotAvailable}}
        </div>
    </div>
</div>