ta-care-ownership-changes-summary {
    &-icon.slds-icon {
        fill: #00B7D7;
    }
    
    .ta-care-ownership-changes-summary__title {
        font-size: .9rem;
        font-weight: 500;
        color: #00396b;
    }
    
    
}

.ta-care-ownership-changes-containter {

    .via-slds .slds-icon-text-grey {
        color: #CCCCCC;
        fill: #CCCCCC;
    }
    
    .via-slds .slds-icon-text-green  {
        color: #347984;
        fill: #347984;
    }
    
    .confirmed {
        font-size: 24px !important;
    }
    
    .confirmation {
        font-size: 16px;
    }
    
    .services_title {
        font-size: 21px;
        margin: 32px 0px 24px 0px;
    }
    
    .services {
        background: #EEEEEE;
        border: solid 1px #919191;
        border-radius: 12px;
        padding: 22px 0px 22px 0px;
        margin-bottom: 32px;
        width: 100% !important;
    }
    
    .service {
        border-top: solid 1px #919191;
        font-size: 16px;
        margin-top: 22px;
        padding: 22px 22px 0px 42px;
    }
    
    .service:first-child {
        border-top: none;
        padding-top: 0px;
        margin-top: 0px;
    }
    
    .titular {
        font-size: 16px !important;
        padding: 0px 0px 0px 2em !important;
    }
    
    .line_number {
        font-weight: bold;
    }
    
    .usericon {
        font-size: 80px !important;
        padding: 0px !important;
        line-height: 18px;
    }

}