.vlocity{

    .unfix-control .slds-datepicker {
        width: auto;
    }
    
    .slds-datepicker__month tbody tr td a{
        display: none;
    }
    
    .container-table-canvas .slds-grid .slds-form-element__control {
        display: inline-block;
    }
     .np-requirement-table-row {
        td{
            font-size: medium;
        }
    }
    
    .row-action {
        text-align: right;
    }
    
    .custom-border--bottom
    {
        border-bottom: 1px solid #d8dde6;
    }
    
    .via-slds .slds-picklist .slds-dropdown.resize-dropdowns {
        width: 100%
    }
    
    .via-slds .slds-picklist__input.unfix-control {
        width: auto;
    }
    
}