<div class="via-slds slds-m-around--small ng-scope" 
     ng-controller="refillHistoryController as ctrl"
     ng-init="init()">

    <div class="slds-grid slds-wrap slds-card slds-m-bottom--small slds-p-around--medium" style="background: #FFF;">
            
            <div class="slds-text-heading--large slds-border--bottom slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 slds-m-bottom--x-large">
                <p><b>Histórico de recargas SOS</b></p>
            </div>
            
            <div class="slds-grid slds-wrap slds-grid--pull-padded">
    
                <div class="slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--2-of-4 slds-large-size--2-of-4">
                    <div id="divExterno" class="slds-picklist slds-dropdown-trigger slds-dropdown-trigger--click">
                        <label class="slds-text-heading--small">Fecha de inicio
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right slds-picklist__input unfix-control">
                                    <div    class="slds-button slds-input__icon slds-text-color--default" 
                                            aria-expanded="false" 
                                            tabindex="1" 
                                            for="text-input-id-1">
                                            <slds-svg-icon  sprite="'utility'" 
                                                            icon="'event'" 
                                                            size="'x-small'" 
                                                            no-hint="true"
                                                            extra-classes="'slds-icon-text-default'">
                                            </slds-svg-icon>
                                    </div>
                                    <input  
                                        id="text-input-id-1"
                                        class="slds-input" 
                                        type="datetime" 
                                        ng-change="setMinMaxDate()"
                                        ng-model="filterOptionRangoDesde"
                                        onkeydown="return false"
                                        slds-date-picker
                                        date-format="dd/MM/yyyy"
                                        max-date="{{maxDateValueFrom}}"
                                        min-date="{{minDateValueFrom}}"/>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--2-of-4 slds-large-size--2-of-4">
                    <div class="slds-picklist slds-dropdown-trigger slds-dropdown-trigger--click">
                        <label class="slds-text-heading--small">Fecha de fin
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right slds-picklist__input unfix-control">
                                <div    class="slds-button slds-input__icon slds-text-color--default" 
                                        aria-expanded="false" 
                                        tabindex="2" 
                                        for="text-input-id-2">
                                        <slds-svg-icon  sprite="'utility'" 
                                                        icon="'event'" 
                                                        size="'x-small'" 
                                                        no-hint="true"
                                                        extra-classes="'slds-icon-text-default'">
                                        </slds-svg-icon>
                                </div>
                                <input  id="text-input-id-2"
                                        class="slds-input" 
                                        type="datetime"
                                        placeholder="" 
                                        onkeydown="return false"
                                        ng-model="filterOptionRangoHasta"
                                        slds-date-picker 
                                        date-format="dd/MM/yyyy"
                                        min-date="{{minDateValueTo}}"
                                        max-date="{{maxDateValueTo}}"/>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            
            <div  ng-class="errorFound ? 'slds-visible' : 'slds-hidden'"
                  class="slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 slds-m-top--small">
                 <div class="slds-text-align--left slds-text-color--error">{{errorMessage}}
                 </div>
            </div>
            <div class="slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 slds-m-top--small">
                <button ng-click="filtersAccepted()" class="slds-button slds-button--brand">Consultar</button>
            </div>
        
        <div ng-class="{'slds-hide': !showGrid}">
            <div class="slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 slds-m-top--x-large">
                <div class="slds-p-bottom--small">   
                    <table class="slds-table slds-table--bordered slds-table--resizable-cols slds-table--fixed-layout via-slds-table-pinned-header" style="-webkit-logical-width: auto;">
                      <thead>
                        <tr class="slds-text-heading--label">
                            <th class="slds-p-bottom--small" ng-repeat="field in cards[0].states[0].fields | limitTo: 6" scope="col" ng-class="{'slds-is-sorted' : sortingOrder == 'obj'+field.name, 'slds-is-sorted--desc' : reverse, 'slds-is-sorted--asc': !reverse}">
                                
                                <a ng-if="$first"
                                   class="slds-truncate slds-th__action slds-p-left--x-large" 
                                   ng-click="sortBy(field)"
                                   href="javascript:void(0)">
                                    {{field.label}}
                                    <div class="slds-icon_container">
                                        <slds-svg-icon sprite="'utility'"
                                                       size="'x-small'" 
                                                       icon="'arrowdown'" 
                                                       extra-classes="'slds-icon-text-default slds-is-sortable__icon'">
                                        </slds-svg-icon>
                                    </div>
                                </a>
                                <a ng-if="!$first"
                                   class="slds-truncate slds-th__action" 
                                   ng-click="sortBy(field)"
                                   href="javascript:void(0)">
                                    {{field.label}}
                                    <div class="slds-icon_container">
                                        <slds-svg-icon sprite="'utility'"
                                                       size="'x-small'" 
                                                       icon="'arrowdown'" 
                                                       extra-classes="'slds-icon-text-default slds-is-sortable__icon'">
                                        </slds-svg-icon>
                                    </div>
                                </a>
                            </th>
                            <th ng-if="cards[0].actions.length" class="slds-cell-shrink" scope="col"><div class="slds-cell-shrink slds-th__action" ></div></th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr    vloc-card 
                                ng-repeat-start="card in getCardList() | orderBy:sortingOrder:reverse track by card.cardIndex" 
                                ng-model="card" 
                                data="card" 
                                records="records"
                                data-status="closed"
                                data-id=parent{{data.cardIndex}}
                                ng-click="$parent.$parent.$parent.toogleOpen($event, this);"
                                use-existing-element-type>
                         </tr>
                         <tr ng-repeat-end
                             data-status="closed"
                             ng-show="$$prevSibling.data-status == 'closed'">
                            <td colspan="6"
                                ng-if="(getCardList()[getIndexForPage(card.cardIndex)].obj.Benefit) != 'Con Beneficio'">
                                <div class="slds-truncate slds-p-around--small">
                                    <p style="text-align:center;"><b>La recarga seleccionada no cuenta con beneficios asociados.</b></p>
                                </div>
                            </td>
                            <td ng-if="(getCardList()[getIndexForPage(card.cardIndex)].obj.Benefit) === 'Con Beneficio'"
                                colspan="6">
                                <div class="slds-grid">
                                  <div class="slds-col">
                                    <div class="slds-box--small">
                                        <table>
                                          <thead>
                                            <tr ng-repeat="field in cards[0].states[0].fields | limitTo : 4 : 6">
                                                <th ng-if="field.label === 'Beneficio' &&
                                                           (getCardList()[getIndexForPage(card.cardIndex)].obj.BenefitType) == 'De Unidades'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    Beneficios de unidades
                                                </th>
                                                <th ng-if="field.label === 'Beneficio' &&
                                                           (getCardList()[getIndexForPage(card.cardIndex)].obj.BenefitType) == 'De Crédito'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    Beneficios de crédito
                                                </th>
                                                <th ng-if="field.label == 'Monto' && (getCardList()[getIndexForPage(card.cardIndex)].obj.BenefitType) == 'De Unidades'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    Cantidad/Unidad
                                                </th>
                                                <th ng-if="field.label == 'Monto' && (getCardList()[getIndexForPage(card.cardIndex)].obj.BenefitType) != 'De Unidades'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    {{field.label}}
                                                </th>
                                                <th ng-if="field.label != 'Beneficio' && field.label != 'Monto'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    {{field.label}}
                                                </th>
                                                <th>
                                                     <div class="slds-truncate slds-p-around--xx-small">
                                                         <b>{{getCardList()[getIndexForPage(card.cardIndex)].obj | getter: field | picker: field.type}}
                                                         </b>
                                                     </div>
                                                </th>
                                            </tr>
                                          </thead>
                                        </table>
                                    </div>
                                  </div>
                                  <div class="slds-col">
                                    <div class="slds-box--small">
                                        <table class="">
                                          <thead>
                                            <tr ng-repeat="field in cards[0].states[0].fields | limitTo : 4 : 6">
                                                <th ng-if="field.label === 'Beneficio' &&
                                                           (getCardList()[getIndexForPage(card.cardIndex)].obj.BenefitType) == 'De Unidades'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    Beneficios de unidades
                                                </th>
                                                <th ng-if="field.label === 'Beneficio' &&
                                                           (getCardList()[getIndexForPage(card.cardIndex)].obj.BenefitType) == 'De Crédito'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    Beneficios de crédito
                                                </th>
                                                <th ng-if="field.label == 'Monto' && (getCardList()[getIndexForPage(card.cardIndex)].obj.BenefitType) == 'De Unidades'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    Cantidad/Unidad
                                                </th>
                                                <th ng-if="field.label == 'Monto' && (getCardList()[getIndexForPage(card.cardIndex)].obj.BenefitType) != 'De Unidades'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    {{field.label}}
                                                </th>
                                                <th ng-if="field.label != 'Beneficio' && field.label != 'Monto'"
                                                    class="slds-text-heading--label slds-p-around--x-small">
                                                    {{field.label}}
                                                </th>
                                                <th>
                                                    <div class="slds-truncate slds-p-around--xx-small"><b>{{getCardList()[getIndexForPage(card.cardIndex)].obj | getter: field | picker: field.type}}</b></div>
                                                </th>
                                            </tr>
                                          </thead>
                                        </table>
                                    </div>
                                  </div>
                                </div>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>

            <div class="slds-grid slds-p-top--small">
                <div class="slds-grid slds-col">
                  <label class="slds-form-element__label">Filas por página</label>
                  <div class="slds-form-element__control">
                    <div class="slds-select_container">
                      <select class="slds-select" ng-options="item for item in numberOfRowsOption" ng-model="itemsPerPage">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="slds-col"></div>
                <div class="slds-col">
                    <div class="slds-form-element slds-button-group pull-right" role="group">
                        <button class="slds-button slds-button--neutral" title="Previous" ng-click="goToPage(previousPage);" ng-disabled="currentPage == 0">« Anterior</button>
                        <button ng-repeat="n in currentRange" class="slds-button slds-button--neutral" ng-click="goToPage(n);" ng-disabled="n == currentPage">
                            {{n + 1}}
                        </button>
                        <button class="slds-button slds-button--neutral" ng-click="goToPage(nextPage);" ng-disabled="currentPage == pagedItems.length - 1">Siguiente »
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>