@import url('/resource/ta_slds_os/slds_os.min.css');

$standardColor: #00B4C5;

.fontStyle {
    font-size: 50px !important;
    color: $standardColor;
}

.iconStyle {
    fill: $standardColor !important;
}

.buttonStyle {
    background-color: $standardColor !important;
    border: solid 1px $standardColor !important;
    max-width: 300px;
    height: 40px;
}