ul.THIS {
    padding: 0;
}
ul.THIS li {
    list-style: none;
    display: inline;
    float: left;
    overflow: auto;
    background: #00386d;
    color: #FFF;
    font-family: "Salesforce Sans",Arial,sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    border-radius: 4px;
}

ul.THIS[dir=rtl] li {
    float: right;
    margin: 0 0 5px 5px;
}