.THIS {
}
.THIS table th:last-child {
    text-align: right;
}
.cWorkTeamDetail.slds-card+.slds-card {
    margin-top: 0px;
    border-top: none;
    border-bottom: none;
}
.cWorkTeamDetail .slds-card__body {
    padding: .75rem 1rem 0;
}
.cWorkTeamDetail .btn-neutral {
    margin-bottom: 16px;
    color: #00b7c9 !important;
    border-color: #00b7c9 !important;
}
.cWorkTeamDetail .btn-brand {
    margin-bottom: 16px;
    margin-top: 16px;
    border-color: #00b7c9 !important;
    background-color: #00b7c9 !important;
}
.cWorkTeamDetail.content-center {
    text-align: right;
}