<div  class="slds-tree__container"
      ng-controller="AssetGroupCtrl as Ctrl"
      ng-init="init()"
      role="application" > <!-- ng-controller="AssetGroupCtrl as Ctrl" -->
    <ul class="slds-tree" 
        role="tree" 
        aria-labelledby="treeheading" 
        aria-activedescendant="tree0-node1">
        <li id="tree0-node1" 
            role="treeitem" 
            aria-level="1" 
            aria-expanded="{{expanded}}"
            ng-repeat="asset in bpTree.response.Assets " ng-if="assets.length != 'undefined'">
            <div class="slds-tree__item" ng-click="expanded = !expanded">
                <button 
                    class="slds-button slds-button--icon slds-m-right--x-small" 
                    aria-controls="tree0-node1" 
                    title="Toggle">
                    <slds-button-svg-icon 
                        size="'small'" 
                        sprite="'utility'" 
                        icon="'chevronright'">
                    </slds-button-svg-icon>
                </button>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options"  id="id-{{$index}}" 
                                        value="{{asset.Id}}"
                                        ng-click="saveSelectedAsset(asset)"
                                        ng-model="asset.isSelected"
                                       /> <!-- ng-model="asset.isSelected" ng-click="bac.checkAll(ba)" ng-checked="asset.isSelected"-->
                            <label class="slds-checkbox__label" for="id-{{$index}}"> 
                                <span class="slds-checkbox--faux"></span>
                                <a id="tree0-node1__label" class="slds-form-element__label slds-truncate" href="javascript:void(0);" tabindex="-1" role="presentation" title="Tree Branch">
                                {{asset.LineNumber}}
                                </a>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
             <ul ng-class="{'slds-is-expanded' : expanded, 'slds-is-collapsed': !expanded}"
                role="group" 
                aria-labelledby="<tree0-node1_></tree0-node1_>_label"
                >
                <li class="slds-m-left--medium"
                    id="tree0-node1-0" 
                    role="treeitem" 
                    aria-level="2"> 
                    <div class="slds-tree__item">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <span >
                                    <label  for="id-{{$parent.$index}}-{{$index}}">
                                        <span class="slds-form-element__label">{{asset.Plan}}</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="slds-m-left--medium"
                    id="tree0-node1-0" 
                    role="treeitem" 
                    aria-level="2"> 
                    <div class="slds-tree__item">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <span >
                                    <label  for="id-{{$parent.$index}}-{{$index}}">
                                        <span class="slds-form-element__label">
                                            {{asset.Name}}
                                        </span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="slds-m-left--medium"
                    id="tree0-node1-0" 
                    role="treeitem" 
                    aria-level="2"> 
                    <div class="slds-tree__item">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <span >
                                    <label  for="id-{{$parent.$index}}-{{$index}}">
                                        <span class="slds-form-element__label">{{asset.BillingStreet}}</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <!-- Only one Asset -->
        <li id="tree0-node1" 
            role="treeitem" 
            aria-level="1" 
            aria-expanded="{{expanded}}"
            ng-if="!bpTree.response.Assets.length == 'undefined'">
            <div class="slds-tree__item" ng-click="expanded = !expanded">
                <button 
                    class="slds-button slds-button--icon slds-m-right--x-small" 
                    aria-controls="tree0-node1" 
                    title="Toggle">
                    <slds-button-svg-icon 
                        size="'small'" 
                        sprite="'utility'" 
                        icon="'chevronright'">
                    </slds-button-svg-icon>
                </button>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <span class="slds-radio">
                            <input type="radio" name="options"  id="id--{{$index}}"
                                    value="{{asset.Id}}"
                                    ng-click="saveSelectedAsset(bpTree.response.Assets)"
                                    ng-model="bpTree.response.Assets.isSelected"
                                    /> 
                            <label class="slds-radio__label" for="id--{{$index}}"> 
                                <span class="slds-radio--faux"></span>
                                <a id="tree0-node1__label" class="slds-form-element__label slds-truncate" href="javascript:void(0);" tabindex="-1" role="presentation" title="Tree Branch">
                                {{bpTree.response.Assets.LineNumber}}
                                </a>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
             <ul ng-class="{'slds-is-expanded' : expanded, 'slds-is-collapsed': !expanded}"
                role="group" 
                aria-labelledby="<tree0-node1_></tree0-node1_>_label"
                >
                <li class="slds-m-left--medium"
                    id="tree0-node1-0" 
                    role="treeitem" 
                    aria-level="2"> 
                    <div class="slds-tree__item">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <span >
                                    <label  for="id-{{$parent.$index}}-{{$index}}">
                                        <span class="slds-form-element__label">{{bpTree.response.Assets.Plan}}</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="slds-m-left--medium"
                    id="tree0-node1-0" 
                    role="treeitem" 
                    aria-level="2"> 
                    <div class="slds-tree__item">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <span >
                                    <label  for="id-{{$parent.$index}}-{{$index}}">
                                        <span class="slds-form-element__label">
                                        {{bpTree.response.Assets.Name}}</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="slds-m-left--medium"
                    id="tree0-node1-0" 
                    role="treeitem" 
                    aria-level="2"> 
                    <div class="slds-tree__item">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <span >
                                    <label  for="id-{{$parent.$index}}-{{$index}}">
                                        <span class="slds-form-element__label">{{bpTree.response.Assets.BillingStreet}}</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        
    </ul>
</div>
<br>