.THIS {
}
.THIS .buttonInput {
    position: absolute;
    top: 29px;
    right: 10px;
}
.THIS .slds-modal__content {
    overflow-x:auto;
}
.THIS .slds-lookup__search-input{
    position: absolute;
    top: 0px;
}
.THIS .btn-brand {
    border-color: #00b7c9 !important;
    background-color: #00b7c9 !important;
}
.THIS .btn-neutral {
    color: #00b7c9 !important;
    border-color: #00b7c9 !important;
}
.THIS .buttonInputSearch{
    position: absolute;
    top: 27px;
    right: 9px;
}