/*** STYLES ***/
.vlocity {
  /* Always use vlocity class as a wrapper */
  /*
    .slds-icon-text-default {
        fill: #333 !important;
    }
    
   
    .sortable_indicator {
        display: inline-block;
        fill: #C7C7C7 !important;
        margin-left: 4px;
        width: 13px;
    }
    
    .slds-is-sorted .sortable_indicator {
        display: none !important;
    }
    */ }
  .vlocity .unselectable {
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none; }
  .vlocity .container-table-canvas .slds-grid .slds-form-element__control {
    display: inline-block; }
  .vlocity .np-requirement-table-row td {
    font-size: medium; }
  .vlocity .row-action {
    text-align: right; }
  .vlocity .green {
    color: #03a3b1; }
  .vlocity .red {
    color: #d9186b; }
  .vlocity
.custom-border--bottom {
    border-bottom: 1px solid #d8dde6; }
  .vlocity .dateOffset {
    padding-left: 22px; }
  .vlocity .detailHeadModo {
    width: 30px; }
  .vlocity .detailHeadModo a {
    overflow: hidden;
    color: transparent; }
  .vlocity .paginador {
    width: 100%; }
  .vlocity .texcentered {
    text-align: center; }
  .vlocity .slds-is-sorted .slds-is-sortable__icon {
    fill: #333 !important; }
  .vlocity .slds-is-sortable__icon {
    fill: #C7C7C7;
    display: inline-block; }
  .vlocity .unit-div {
    display: inline-block;
    border-radius: 7px;
    border: 1px solid #9fa3a8;
    padding: 1%;
    padding-right: 2%;
    vertical-align: middle;
    display: inline-block;
    width: 160px; }
  .vlocity .ta-care-omniscript-done-icon {
    fill: #32b3db; }