.ta-care-omniscript-done {
    text-align: center;
    
    .ta-care-omniscript-error-icon {
        fill: #D9186D;
        background-color: #FFF;
        border-radius: 50%;
        border: solid 1px #D9186D;
        padding:3px;
    }
    
    .ta-care-omniscript-done-icon {
        fill: #FFF;
        background-color: #0A767F;
        border-radius: 50%;
        border: solid 1px #0A767F;
        padding:3px;
    }
    
    .ta-care-omniscript-pending-icon {
        fill: #333;
        background-color: #FFF;
        border-radius: 50%;
    }
    
    h1 {
        font-family: 'Platform Light' !important;
        font-size: 32pt;
        color: #000;
    }
}