//@import "ta-cards-layout";

/*** VARIABLES ***/
@import "variables";

/*** MIXINS ***/
//@import "mixin";

/*** STYLES ***/
.vlocity {
    
    .celeste {
        color: #00b2c5 !important;
    }
    
    #containergestiones {
        width: 100%;
    }
    
    #containergestiones > :first-child {
        border-top: 1px solid #d8dde6 !important;
        margin-top: 25px !important;
    }
    
    .availables_title {
        color: #333333;
        font-family: 'Platform';
    }
    
    section.console-card {
        
        &.active {
            background-color: $white;
            border-radius: 3px;
            
            .card-top {
                padding: 0 20px;
                //border-bottom: 1px solid #00B4C5;
                cursor:pointer;
//                @include clearfix;

                .card-top-header {
                    
                    h2 {
                        // margin: 0 0 4px 0;
                        // font: $font-light;
                        font-size: 18px;
                        line-height: 18px;
                        color: #090909;
                        height: 21px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        cursor: default;
                        display: block;
                        max-width: 100%;
                        // font-weight: bold;
                        text-transform: none;
                        margin-bottom: 0px;
                        
                    }
                    .header-left {
                        float: left;
                        padding: 10px 0 10px 0;
                    }
                    
                    .header-right {
                        float: right;
                        padding: 10px 0 10px 0;
                        
                        .expired-date {
                            // float: right;
                            font-family: "Platform Light";
                            display: block;
                            font-size: 18px;    
                            font-weight: 300;   
                            line-height: 22px;
                            color: #333333; 
                        }
                        
                        .expired-pink {
                            color: #d9186b;
                        }
                        // .expired-title {
                        //     float: right;
                        //     font-size: 12px;
                        //     position: relative;
                        // }
                    }
                    .account-number, .expired-title {
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                        color: #999999; 
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 14px;
                        display:block;

                    }

                    .account-number{
                        margin-top: 18px;
                    }

                    
                }

        
            }

            .card-info {
//                @include clearfix;
                padding: 5px 20px;
                
                .paddingTop {
                    padding-top: 3px;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    &.details {
                        float: left;
                        padding: 10px 5px 0px 0px;
                        width: 48%;/* fallback */
                        width: calc(100% - 150px); //.actions width
                        cursor:pointer;
                        word-wrap: break-word;
                        li {
                            padding: 10px 0 10px 0;
                            // border-top: 1px solid #efefef;

                            &:last-of-type {
                                margin: 0;
                            }
                        }
                        
                        .slds-icon-text-default {
                            fill: #909090;
                            color: #909090;
                        }

                        span {
                            display: block;

                            &.detail-label {
                                // font-weight: 600;
                                // font-size: 12px;
                                // text-transform: uppercase;
                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                color: #999999; 
                                font-size: 12px;
                                line-height: 14px;
                                display: block;
                                // letter-spacing: 1px;
                            }

                            &.value {
                                // text-transform: none;
                                // color: $text-gray;
                                // font-size: 14px;
                                // font-weight: 300;
                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                color: #333333;
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }
                    }

                    &.actions {
                        float: right;
                        width: 150px;
                        word-wrap: break-word;
                        padding: 10px 0 10px 0;
                        a {
                            display: table;
                            width: 100%;
                            height: 53px;
                            // border-bottom: 2px solid $light-gray;

                            img {
                                width: 29px;
                                height: 29px;
                                margin: 5px 9px;
                                display: table-cell;
                                vertical-align: middle;
                            }

                            i.icon {
                                display: table-cell;
                                vertical-align: middle;
                                font-size: 25px;
                                line-height: 34px;
                                color: #00B4C5;
                                width: 40px;
                                
                                &:before {
                                    font-weight: 100;
                                    line-height: 34px;
                                }
                            }

                            span {
                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                color: #00B4C5;
                                line-height: 14px;
                                display: table-cell;
                                vertical-align: middle;
                            }

                            &:hover {
                                text-decoration: none;

                                i.icon {
                                    color: #00B4C5;
                                }

                                // span {
                                //     color: $light-blue;
                                // }
                            }
                        }

                        li:last-of-type {
                            a {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
        
        &.expired {
            border: 1px solid #F0006A;
            // border-radius: 3px;
        }
    }
}

.billing-services-title{
    text-align: center;
    font-size: 10px;
    color: #909090;
    padding: 3px 5px 1px 5px;
}