<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/Communities_Changed_Password_Email</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>alex.lazarev@cloudgaia.com</emailSenderAddress>
    <emailSenderName>Telecom Personal Community Sandbox</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>false</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/Forgot_Password_Community</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <logoutUrl>https://www.personal.com.ar</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Knowledge Center</label>
            <position>0</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>/toparticles</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Support</label>
            <position>1</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>/contactsupport</target>
            <type>InternalLink</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>admin</profile>
        <profile>customer community user</profile>
        <profile>test community</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>VisualForce</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Designer</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Designer</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <newSenderAddress>community@personal.com.ar.desa01</newSenderAddress>
    <picassoSite>Telecom_Personal_C</picassoSite>
    <selfRegProfile>customer community user</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Telecom_Personal</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>clientes</urlPathPrefix>
    <welcomeTemplate>unfiled$public/Community_Register_New_Member</welcomeTemplate>
</Network>
