.rango{
    width: 50px;
    text-align: center;
}

#txtEdit{
    width: 40px;
    text-align: center;
}

#colLabel{
    width: 30%;//200px;
    text-align: center;
    display: none;
}

#colEdit{
    width: 30%;//200px;
    text-align: center;
    display: table-cell;
}

#nombreEntidad{
   // width: 200px;
   font-weight: bold;
   color:  #00b9d4;
}

.minMaxClass input{
    width: 30px;
}
.w100{
    width:100% !important;
}
.inps{
    display: inline-block !important;
    width: 40% !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 0 !important;
    height: 30px !important;
}

.marginTop{
    margin-top: 40px !important;
    //padding-top: 400px !important;
}
.boxPersonal{
    border: 0 !important;
    width: 90% !important;
    margin: 10% !important;
    margin-top: 20px;
}
.btnPersonal{
    padding: 10%;
    width: 100px;
}