.THIS .group:before, .THIS .group:after {
    content: '';
    display: table;
}
.THIS .group:after {
    clear: both;
}
.THIS .profile-attribute-title {
    position: relative;
}
.THIS .attribute-category-edit-header {
    margin: 0;
}
.THIS .back-button {
    height: 30px;
    top: 4px;
    position: absolute;
    left: 0;
}
.THIS header h1 {
    color: rgba(0,0,0,0.9);
    text-align: center;
    font-family: "Salesforce Sans",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.THIS .slds-section-title--divider {
    position: relative;
}
.THIS article.applied-attribute-edit-list {
    overflow: auto;
    border-bottom: 1px solid #d8dde6;
}
.THIS article.unapplied-attribute-edit-list {
    overflow: auto;
}
.THIS article.add-attribute-edit-panel {
    overflow: auto;
}

.THIS, .THIS article {
    background: #FFF;
}