<td class="slds-truncate slds-p-vertical--medium card-table-row-icon" 
    ng-if="data" 
    data-label="{{field.label}}"
    ng-repeat="field in data.fields | limitTo:8">
    <div ng-if="$scope" class="chevronClosed">
        <slds-svg-icon  sprite="'utility'" 
                        class="slds-input__icon--left"
                        icon="'chevronright'"
                        size="'x-small'" 
                        style="fill:#181818"
                        extra-classes="'slds-input__icon'">
        </slds-svg-icon>
    </div>
    <div ng-if="$scope" class="chevronOpen openTopFix ng-hide" >
        <slds-svg-icon  sprite="'utility'" 
                        icon="'chevrondown'"
                        size="'x-small'" 
                        style="fill:#181818"
                        extra-classes="'slds-input__icon'">
        </slds-svg-icon>
    </div>
    
    
    <div class="slds-text-align--right" 
         ng-if="field.label == 'Sentido'">
        <div ng-if="(obj | getter: field | picker: field.type) == 'I'">
            <slds-svg-icon  sprite="'utility'" 
                            icon="'arrowup'"
                            size="'x-small'"
                            style="fill:#2E9AFE"
                            extra-classes="'slds-input__icon'">
            </slds-svg-icon>
        </div>
        <div ng-if="(obj | getter: field | picker: field.type) == 'O'">
            <slds-svg-icon  sprite="'utility'" 
                            icon="'arrowdown'"
                            style="fill:#FB0202"
                            size="'x-small'" 
                            extra-classes="'slds-input__icon'">
            </slds-svg-icon>
        </div>
        <div ng-if="(obj | getter: field | picker: field.type) == 'T'">
            <slds-svg-icon  sprite="'utility'" 
                            icon="'expand_alt'"
                            style="fill:#333333"
                            size="'x-small'" 
                            extra-classes="'slds-input__icon'">
            </slds-svg-icon>
        </div>
    </div>
    
    <div ng-if="field.label == 'Fecha'">
        <div class="slds-m-left--x-large" ng-if="(obj | getter: field | picker: field.type) != 'null'">
            {{obj | getter: field | picker: field.type}}
        </div>
    </div>
    
    <div ng-if="field.label == 'Importe'">
        <div ng-if="(obj | getter: field | picker: field.type) != 'null'" ng-class="{'green': obj.importeTasado.charAt(0) != '-', 'red' : obj.importeTasado.charAt(0) == '-'}">
            {{obj | getter: field | picker: field.type | importePolarity }}
        </div>
    </div>
    
    <div ng-if="field.label == 'Disponible'">
        <div ng-if="(obj | getter: field | picker: field.type) != 'null'">
            {{obj | getter: field | picker: field.type | importePolarity }}
        </div>
    </div>
    
    <div ng-if="field.label != 'Sentido' && field.label != 'Fecha' && field.label != 'Importe'  && field.label != 'Disponible' ">
        <div ng-if="(obj | getter: field | picker: field.type) != 'null'">
            {{obj | getter: field | picker: field.type}}
        </div>
    </div>
</td>