.via-slds .slds-dropdown-trigger--click.slds-is-open .slds-dropdown.motiveList {
    &-options {
        display: none;
        &.expand {
            display: block;
        }
    } 
}

.select{
    width: 45%;
    height: 25px;
    border-radius: 3px;
    margin-right: 10px;
}