<div class='slds-col--padded slds-size--1-of-1' ng-controller="CheckoutOrderItemGridController as coigCtrl">
    <table
        class="slds-table slds-table--bordered slds-table--cell-buffer vlc-slds-table"
        ng-class="[compareWindowWidth(1024,'vlc-slds-table--stacked'), compareWindowWidth(375,'vertical')]">
        <thead>
            <tr
                class="slds-text-heading--label"
                ng-if="$first">
                <th scope="col">
                    <div class="slds-truncate">NMU</div>
                </th>
                <th scope="col">
                    <div class="slds-truncate">ICCID</div>
                </th>
                <th scope="col">
                    <div class="slds-truncate">Ubicación/Colmena</div>
                </th>
                <th scope="col">
                    <div class="slds-truncate">Entregado</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-if="item.%vlocity_namespace%__SerialNumber__c"
                ng-repeat="item in bpTree.response.SerialOrderItems track by $index"
                ng-class="{'vlc-selectableitem-selected' : p.vlcSelected}">
                <td data-label='NMU'>
                    <div class="slds-truncate">{{item.Product2.NMU__c}}</div>
                </td>
                <td data-label='ICCID'>
                    <div class="slds-truncate">{{item.%vlocity_namespace%__SerialNumber__c}}</div>
                </td>
                <td data-label='Ubicacion'>
                    <div class="slds-truncate">???</div>
                </td>
                <td data-label='Entregado'>
                    <span class="slds-checkbox">
                        <input type="checkbox"
                               id="checkbox-{{$index}}"
                               ng-model="ItemChecked"
                               required=""
                               />
                        <label class="slds-checkbox__label" for="checkbox-{{$index}}">
                            <span class="slds-checkbox--faux"></span>
                        </label>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>