.ta-techCare-check{
    width: 12%;
    .slds-button{
        fill: #0a767f;
    }
}
.slds-table thead tr th div.slds-truncate {
    font-size: 12px;
}
.slds-table tbosy tr td > div {font-size: 12px;}