.vlocity {   
    .slds-is-sorted .slds-is-sortable__icon {
         fill: #333;
    }

    .slds-is-sortable__icon {
        fill: #C7C7C7;
        display: inline-block;
    }
    
/* Style the buttons that are used to open and close the accordion panel */
div.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
div.accordion.active, div.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
    
}