<div class="via-slds slds-m-around--small ng-scope" 
    ng-controller="tableCtrl as ctrl"
    ng-init="init()">
    

  
    <div class="slds-grid slds-wrap slds-card slds-m-bottom--small slds-p-around--medium" style="background: #FFF;" ng-if="ctrl.mobile">
        <div class="slds-text-heading--large slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 slds-m-bottom--small">
            <p><b>{{data.title}}</b></p>
        </div>
        <div class="slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 slds-m-top--x-large">
            <div class="slds-p-bottom--small">   

                <div ng-repeat="field in data.fields | limitTo: 5" 
                                scope="col" 
                                ng-class="{
                                    'slds-is-sorted' : sortingOrder == field.name,
                                    'slds-is-sorted--desc' : reverse && sortingOrder == field.name, 
                                    'slds-is-sorted--asc': ! reverse && sortingOrder == field.name}">
    
                                <div style="background-color:white; border-bottom: 1px solid #d8dde6;border-top: 1px solid #d8dde6;">
                                          
                                          <!-- menu superior -->
                                          <div class="panel-heading accordion" role="tab">
                                              <h3>
                                               <div class="slds-grid">
                                                  <div class="slds-size--1-of-2">
                                                    <b style="color: black;">$50</b>                              
                                              
                                                  <div  style="color: grey;" >Recarga virtual - 12/01/2017</div>
                                               </div>   
                                                  <div class="slds-size--1-of-2" style="text-align: right;">
                                                      <slds-svg-icon sprite="'utility'" icon="'chevronright'" size="'small'" style="fill:#00B4C5;"></slds-svg-icon>
                                                  </div>
                                              </div>    
                                              </h3>
                                              </div>
                                              <!-- menu inferior -->

                                              <div class="panel-heading panel" role="tab" >
                                              <div class="slds-grid">
                                                  <div class="slds-size--1-of-2">
                                                      <div  style="color: grey;" >Beneficio</div>
                                                      <b style="color: black;">Duplica crédito</b>
                                                  </div>
                                                  <div class="slds-size--1-of-2">
                                                      <div  style="color: grey;" >Vigencia</div>
                                                      <b style="color: black;">12/01/2017 - 18:21</b>
                                                  </div>
                                             </div>
                                             
                                              <div class="slds-grid">
                                                  <div class="slds-size--1-of-2">
                                                      <div  style="color: grey;" >Beneficio</div>
                                                      <b style="color: black;">Internet 20 Mbs</b>
                                                  </div>
                                                  <div class="slds-size--1-of-2">
                                                      <div  style="color: grey;" >Vigencia</div>
                                                      <b style="color: black;">12/01/2017 - 18:21</b>
                                                  </div>
                                             </div>
                                              </div>
                                             
                                         
                                </div>
</div>
            </div>
        </div>
        <div class="slds-align--absolute-center slds-p-top--large"
             ng-repeat="action in data.actions">
        </div>
    </div>
    <!-- Web -->

    <div class="slds-grid slds-wrap slds-card slds-m-bottom--small slds-p-around--medium" style="background: #FFF;" ng-if="!ctrl.mobile">
        <div class="slds-text-heading--large slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 slds-m-bottom--small">
            <p><b>{{data.title}}</b></p>
        </div>
        <div class="slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 slds-m-top--x-large">
            <div class="slds-p-bottom--small">  
                <div ng-if="records != null && records.codError != '201'">
                    <table  class="slds-table slds-table--bordered slds-table--resizable-cols slds-table--fixed-layout via-slds-table-pinned-header">
                    <thead>
                        <tr class="slds-text-heading--label">
                            <th class="slds-p-bottom--small"
                                ng-repeat="field in data.fields"
                                scope="col" 
                                ng-class="{
                                    'slds-is-sorted' : sortingOrder == field.name,
                                    'slds-is-sorted--desc' : reverse && sortingOrder == field.name, 
                                    'slds-is-sorted--asc': ! reverse && sortingOrder == field.name}"> 
                                <a class="slds-truncate slds-th__action" 
                                   ng-click="sortBy(field)"
                                   href="javascript:void(0)">
                                    {{field.label}}
                                    <div class="slds-icon_container">
                                        <slds-svg-icon sprite="'utility'"
                                                       size="'x-small'" 
                                                       icon="'arrowdown'" 
                                                       extra-classes="'slds-icon-text-default slds-is-sortable__icon'">
                                        </slds-svg-icon>
                                    </div>
                                </a>
                            </th>
                        </tr>
                    </thead>    
                    <tbody ng-init="sortingOrder = data.sorteableField.fisrtSort; reverse = data.sorteableField.reverse;">
                            <tr ng-repeat="record in records | orderBy:sortingOrder:reverse | limitTo: 5 ">
                               <td ng-repeat="field in data.fields">
                                 <div ng-if="field.label == 'Monto'">
                                    <b>{{record | getter: field | picker: field.type}}</b>
                                 </div>
                                 <div ng-if="field.label != 'Monto'">
                                    {{record | getter: field | picker: field.type}}
                                 </div>
                             </td>
                           </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="records.codError == '201'">
                <h2 style="text-align: center">No hay registros en los últimos 5 días</h2>
            </div>
        </div>
    </div>
        <div ng-if="records.codError != '201'"
             class="slds-align--absolute-center slds-p-top--large"
             ng-repeat="action in data.actions">
            <button ng-click="performAction(action)" 
                    class="slds-button slds-button--brand">
                        Ver detalle
            </button>
        </div>
    </div>
    
        <script>
       
            
    </script>
</div>