.taPaymentMethod {
    
    a {
        color: #00B7D7;
        
        &:hover {
            color: #00B7D7;
        }
    }
    
    .title-grl{
        color: #333333;
        font-size: 20px;
    }
    
    .icon-warning-style{
        border: 1px solid #ffb204;
        border-radius: 35px;
        padding: 3px 3px 3px 3px;
        
        .slds-icon {
            fill: #ffb204 !important;
            margin-top: -6px;
        }
        
    }
    
    .padding-custom{
        padding-left: 10px; 
    }

    .font-weight-light {
        font-weight: 300;
    }
    
    .header-simulation{
        color: #00B7D7;
        .header-title{
            font-weight: bold;
        }
        .total{
            font-size: 30px;
        }
        .header-subtitle{
            color: #333333;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 16px;
        }
        
    }
    
    .body-simulation{
        .items-row{
            display: inline-flex; 
            flex-direction: row;
            width:100%;
        
            div{
                width: 50%; 
                box-sizing:border-box;
            }
        }
    }
    
    .element-svg{

        .slds-icon {
            fill: #00B7D7 !important;
        }
      
    }
    
    .padding-bottom-style{
        padding-bottom: 10px;
    }
    
    .container-top{
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        
        h3 {
            width: 50%; 
            box-sizing:border-box;
        }
        
        a {
            width: 50%; 
            box-sizing:border-box;
            text-align: right;
        }
        
        .padding-border{
            padding-bottom: 10px;
            padding-right: 10px;
        }
        
        .border--primary {
            border-color: #cccccc;
        }
    }
}