@import "variables";

.vlocity {
	
    
    
    .availables_title {
        color: #333333;
    }
    
    .availables_buy_more {
        color: #00b4c5 !important;
        font-family: HelveticaNeue !important;
    }
    
    .availables_actions {
        margin-top: 68px;
    }
    
    .community_card {
        background: #FFF;
    }
    

    
    .availables_ammount {
        color: #333333;
        clear: both;
        display: block;
        font-family: Platform;
    	font-size: 32px;
    	font-weight: 300;
        padding: 10px 10px;
        text-align: center;
        width: 100%;
    }
    
    .availables_unit {
		font-family: HelveticaNeue;
        color: #333333;
        clear: both;
        display: block;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
    
    .availables_icon {
    }
    
    .availables_svg {
        display: inline;
        text-align: center;
    }
    
    
    
}


@media (max-width: 375px) {
   
    .availables_ammount {
        font-size: 28px;
    }
    .availables_unit {
        border: 1px;
    }
}