.via-slds {
    .ta-QAForm {
        .slds-tree__item {
            line-height: normal;
        }
    }
    .slds-notify.slds-notify--toast.taMsgBannerContainer {
        margin: 0;
        .taMsgBanner {
            width: 100%;
        }
    }
}