.taOScard {
    overflow: hidden;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
    &.slds-card {
        width: 100%;
        border-radius: 4px;
        border: none;
    }
    &-title.slds-text-heading--label {
        font-weight: bold;
        text-transform: none;
        font-size: 16px;
    }
    
    &-header {
        padding: 11px 0 0;
        border-bottom: 1px solid #41739c;  
    }
    
    &-content {
        padding: 11px 0 20px;
    }
    
    .slds-tile {
        margin-top: .5rem;
    }
    
    .via-slds-card__body {
        overflow: hidden;
        // min-height: 310px;
      
    }
    
    .via-slds-card__header {
        background-clip: padding-box;
        background-color: #f4f6f9;
        border-bottom: 2px solid #d8dde6;
        margin-bottom: 0;
        cursor: pointer;
    }
    
    .via-slds-card__footer {
        border-top: 1px solid #d8dde6;
        margin-top: 0;
        text-align: left;
    }
    
    .via-slds-flyout-grid > :not(:empty) {
        width: 100%;
    }

    .via-action-link:hover,
    .via-action-link:focus,
    .via-action-link:active {
        color: #0070d2;
        text-decoration: underline;
    }
}