ta-AutomaticDebit-summary {
    &-icon.slds-icon {
        fill: #00B7D7;
    }
    
    .ta-AutomaticDebit-summary__title {
        font-size: .9rem;
        font-weight: 500;
        color: #00396b;
    }
}