.tax-condition {
    &-billing-accounts.slds-form-element__legend {
        font-size: .9rem;
        font-weight: 500;
        color: #00396b;
    }
    .tax-condition-billing-accounts-name.slds-form-element__label {
        font-size: .9rem;
        color: #00396b;
        font-weight: 300;
    }
}