<div class='slds-col--padded slds-size--1-of-1' ng-controller="DoneActionCustomController as dacc">
    <button ng-click="dacc.openGestionDeClientesInPrimaryTab(bpTree.response.AccountId)">TEST</button>
    <ng-form name='loopform'
             class='slds-form-element vlc-flex vlc-form-group vlc-slds-remote-action--button'
             ng-repeat='control in child.eleArray'>

        <div class="slds-form-element__control">

            <div class="vlc-control-wrapper">
                    
                <!--buttonClick(this.bpTree.response, control, this)-->
                <div id='{{::control.name}}'
                     class='slds-box'
                     title='{{::control.propSetMap.label}}'
                     
                     ng-click='dacc.openGestionDeClientesInPrimaryTab(bpTree.response.AccountId)'>
                    <p>{{::control.propSetMap.label}}</p>
                </div>

            </div>

            <div class='vlc-sub-block'></div>

        </div>

    </ng-form>

</div>