.ta-sales-new-packs{
    
    color: #333333;
    .body-packs{
        .items-row{
            display: inline-flex; 
            flex-direction: row;
            width:100%;
        
            .items{
                width: 100%; 
                box-sizing:border-box;
                display: inline-flex;
                padding: 5px 5px 5px 5px;
                font-size: 14px;
               
                .btn-cstm{
                    color: #00B7D7 !important;
                    font-size: 14px;
                }
                .btn-cstm-delete{
                    color: #d70000  !important;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
    .display-one-line{
        display: inline-flex; 
    }
    .margin-blank{
        margin-left: 3px;
        margin-right: 3px;
    }
    .title{
        margin-bottom: 20px;
    }
    
    .center-text{
        text-align: center;
    }
    
    .border-top{
        border-top: 1px solid #d8dde6;
    }
    
    .border-bottom{
        border-bottom: 1px solid #d8dde6;
    }
    
    .odd{
        background-color: transparent;
        .items{
             border-top: 1px solid #d8dde6;
        }

    }
    
    .even{
        background-color: #E0E0E0;
         .items{
             border-top: 1px solid #ffffff;
        }
    }
    
    
    .lbl-item{
        color: #333333 !important;
        font-weight: bold;
        
    }
    .slds-truncate{
        padding-top: 5px;
    }
    
    .element-svg{
        color: #333333 !important;
        cursor: pointer;
        display: inline-flex;
        padding: 5px 5px 5px 5px;
    
        .slds-icon {
            fill: #00B7D7 !important;
        }
          
    }
    
    .slds-notify--toast {
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
      }
      
    .slds-notify--toast .dismiss {
        -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadeout 1s; /* Firefox < 16 */
        -ms-animation: fadeout 1s; /* Internet Explorer */
        -o-animation: fadeout 1s; /* Opera < 12.1 */
        animation: fadeout 1s;
      }
      
      @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }
      
      @keyframes fadeout {
          from { opacity: 1; }
          to   { opacity: 0; }
      }
      
              
    .slds-icon {
        fill: #060606 !important;
    }
    
    .body-simulation{
        
        .items-row {
            display: inline-flex; 
            flex-direction: row;
            width:100%;
        }
        
        .items-row div {
            width: 50%; 
            box-sizing:border-box;
        }
    
    }
    
    .header-cost {
        text-align:center;
        width:100%;
        margin-bottom: 20px;
        
        h2 {
            font-size:20px
        }
        
        p {
            line-height:20px;
            font-size:14px;
        }
    }

    
    .services {
        width:100%; 
        text-align:center;
        /*display:inline-flex;*/
        flex-direction:row;
        padding: 10px 30px 15px 10px;
    }

    .service {
        width:100%;
        display:inline-flex;
        /*flex-direction:column;*/
    }
    
    .margin-space {
        text-align: left;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}