.botonAdd{
    width: 30px;
    height:30px;
    border-radius: 5px;
}

#text-input-01 {
    width: 200px;
    font-size: .8em;
    min-height: 0;
}

.slds-input {
    min-height: 2rem !important;
    height: 2rem !important;
}