.ta-Care-Bundle-View-Actions-Title{
    line-height: 3em;
}

.ta-Care-Bundle-View-Actions-Actions{
    a {
    height: 15px;   
    width: 184px;    
    color: #00B7D7;
    font-family: "Salesforce Sans";
    line-height: 3em;
    font-size: 12px;
    text-align: left;
    }
    
}

.ta-Care-Bundle-View-Division-Left{
  width:147px;
  float:left;
  border-right: 1px solid #d8dde6;
}