<table class="slds-table slds-table--bordered slds-table--cell-buffer techCare-PriceList" ng-controller="ownershipChangesReviewController as oc" ng-init="oc.init();">
    <!--<thead>
        <tr class="slds-text-heading--label">
            <th ng-repeat="t in control.propSetMap.selectableItemConfig.theader" scope="col">
                <div class="slds-truncate">{{t.label}}</div>
            </th>
        </tr>
    </thead>
    <tbody class="techCare-PriceList-tbody">
        <tr ng-repeat="item in bpTree.response[control.propSetMap.selectableItemConfig.inputList]">
            <td ng-repeat="td in control.propSetMap.selectableItemConfig.tbody">
                <div class=""><span ng-if="td.type == 'currency'">$</span>{{item[td.field]}}</div>
            </td>
        </tr>
    </tbody>-->
</table>