#title-mobile {
    font-size: 24px; /*22px */
    font-weight: 300;
    max-width: 100%;
    color:#333333;
    padding: 0;
}

    .community_card-1x {
        border-radius: 5px;
    	background: #FFF;
    	border: solid 1px #e3e3e3;
    }
    
.seeAll-button {
    .slds-button--neutral {
    	border: 1px solid #00D7D7;	
    	border-radius: 3px;	
    	background-color: #FFFFFF;
        padding-left: 5px;
        padding-right: 10px;
        max-width: 300px;
        height: 40px;
    }

    .ta-button-icon {
        color: #00D7D7;
    }
    .ta-button-font {
        color: #00D7D7 !important;
        padding: 0 10px 0 10px;
        //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
       //font-size: 11px;	
       //line-height: 12px;	
      // text-align: right;
    }
}

.card_misg_desk {padding:9px 24px; }
.card_misg_desk > div.slds-p-horizontal--small.slds-size--1-of-1.slds-border--bottom {padding-right:0; padding-left: 0;}