.vlocity {
    
    .celeste {
        color: #00b2c5 !important;
    }
    
    #containergestiones {
        width: 100%;
    }
    
    #containergestiones > :first-child {
        border-top: 1px solid #d8dde6 !important;
        margin-top: 25px !important;
    }
    
    .availables_title {
        color: #333333;
        font-family: 'Platform';
    }
    .availables_text {
        font-family: 'HelveticaNeue';
    }
}