@import "npVariables";
/*** STYLES ***/
    .vlocity {   /* Always use vlocity class as a wrapper */
    .np-requirement-table-row{
        td{
            font-size:$font-medium;
        }
    }
        .custom-border--bottom
        {
            border-bottom: 1px solid #d8dde6;
        }
        
        .custom-link--color
        {
            color:$link-color;
        }
    }