<div 
	ng-repeat="i in data.sessionVars" 
	ng-if="i.name == 'flyoutTitle'"
	class="flyoutPrepaidTitle">
	{{i.val}}
</div>
<div class="slds-grid community-flyout-content">
    <div class="flyout-actions">
        <vloc-card name="Flyout Grid Actions" customtemplate="ta-care-flyout-grid-actions" data="parent" loaded="true"> </vloc-card>
    </div>
    <div class="items slds-grid slds-grid--vertical slds-align-middle">
        <vloc-card ng-repeat="card in cards |orderBy:order|filter: searchFunc(card)" class="items-card" ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}"></vloc-card>
    </div>
</div>