/*** STYLES ***/
    .vlocity {   /* Always use vlocity class as a wrapper */
        .np-requirement-table-row {
            td{
                font-size: medium;
            }
        }
        
        .row-action {
            text-align: right;
        }
        
        .custom-border--bottom
            {
                border-bottom: 1px solid #d8dde6;
            }
            
        .chevronToogle {
            position: absolute;
            left: -12px;
            top: 16px;
        }
        
        .openTopFix {
            padding-top: 3px;
        }
        
        .chevronOpen, .chevronClosed {
            float: left;
            width: 30px;
        }
        
    }