.ta-alertMessage {
    margin: 0 auto;
    padding: 9px;
    &-wrapper.slds-notify {
        margin: 0;
        padding: 7px 15px;
        width: 100%;
        min-width: initial;
        
        background: #f3c3d8;
        border: 3px solid #f15097;
        .ta-icon-alert {
            fill: #f15097;
            height: 16px;
            width: 16px;
            margin-right: 15px;
        }
    }
    &-content {
        color: #F0006A;
        font: normal bold 11px/15px "Salesforce Sans";
    }
}