/*** VARIABLES ***/
@import "variables";

/*** MIXINS ***/
//@import "mixin";

@import url('/resource/ta_slds/slds.min.css');


.vlocity{
    
    .slds-dropdown {
        width: 320px !important;
    }
    
    .positiveAdjustment {
        color: #03a3b1;
    }
    
    .negativeAdjustment{
        color: #d9186b;
    }
   

     .unfix-control .slds-datepicker {
        width: auto;
    }
    
    .slds-datepicker__month tbody tr td a{
        display: none;
    }
    
    .container-table-canvas .slds-grid .slds-form-element__control {
        display: inline-block;
    }
    
    .np-requirement-table-row {
        td{
            font-size: medium;
        }
    }
    
    .row-action {
        text-align: right;
    }
    
    .custom-border--bottom
    {
        border-bottom: 1px solid #d8dde6;
    }
    
    .via-slds .slds-picklist .slds-dropdown.resize-dropdowns {
        width: 100%
    }
    
    .via-slds .slds-picklist__input.unfix-control {
        width: auto;
    }
    
    .slds-is-sorted .slds-is-sortable__icon {
         fill: #333;
    }

    .via-slds .slds-is-sortable__icon {
        fill: #C7C7C7;
        display: inline-block;
    }
    
    .via-slds .slds-is-sorted .slds-is-sortable__icon {
         fill: #333;
    }

    .custom-border--bottom
    {
        border-bottom: 1px solid #d8dde6;
    }
    
    .via-slds .slds-picklist .slds-dropdown.resize-dropdowns {
        width: 100%
    }
    
    .via-slds .slds-picklist__input.unfix-control {
        width: auto;
    }
    
    .lineNumber {
        font-family: "Platform Light", Platform, "Salesforce Sans", Arial, sans-serif;
        background: #FFF !important;
        font-size: 42px;
    }
    
    .HelveticaNeue {
         font-family: HelveticaNeue, "Helvetica Neue", Arial, sans-serif !important;
    }
    
    .asset_type {
        font-family: HelveticaNeue, "Helvetica Neue", Arial, sans-serif;
	    font-size: 20px;
    }
    
    .negotationsfilter {
    	border-radius: 5px;
    	background-color: rgba(238, 238, 238, 0.3);
    	border: solid 1px #eeeeee;
    	width: 100%;
    }
    
    .filterNegotiations {
        background-color: #00b7d7;
	    border: solid 1px #00b4c5;
    }
    
    
}