/*** VARIABLES ***/
@import "variables";

.vlocity {
    font-family: Platform !important;
}

.via-slds .slds-button.ta-linkButton{
    color: #51b5d3;
    &[disabled] {
        color: #dddbda;
    }
}

.vlocity .community_card-1x {
    max-width: -webkit-fill-available;
}

.vlocity .HeadingLarge {
        font-size: 22px;
    }
.vlocity .HeadingSmall {
        font-size: 16px;
        line-height: 1.3;
    }

@media (max-width: 375px) {
    .vlocity .HeadingLarge {
        font-size: 22px;
    }
    .vlocity .HeadingSmall {
        font-size: 16px;
        line-height: 1.3;
    }
    
    .vlocity .availables_ammount {
        font-size: 36px;
    }
    .vlocity .availables_unit {
        font-size: 14px;
       
    }
}