.tax-condition-changes-summary {
    &-icon.slds-icon {
        fill: #00B7D7;
    }
    
    .tax-condition-changes-summary-title.slds-section__title {
        font-size: .9rem;
        font-weight: 500;
        color: #00396b;
    }
}