.via-slds .ta-validationRadioBtn .vlc-slds-radio-control {
    .itemSelected .ta-radioBtnContainer.taBorderOverlay {
        border-color: #00b4c5;
    }
    div[horizontalmode=true]>label.slds-radio {
        max-width: 400px;
        min-height: 220px;
        margin: 0;
        padding: 10px;
    }
    .ta-radioBtnTitle {
        font-size: 20px;
    }
    .ta-radioBtnContainer {
        border-radius: 10px;
        border: solid 4px #cccccc;
        height: 100%;
        cursor: pointer;
        padding: 0 20px;
        &:hover {
            border-color: #00b4c5;
        }
        .slds-form-element__label {
            font-size: 20px;
            color: #00b4c5 !important;
            svg {
                fill: #00b4c5;
            }
            
        }
        .imgItemContainer {
            margin-right: 20px;
        }
    }
}