.THIS {
    /* font-family: Platform; */
	margin:0px;
    padding:0px;
}

.THIS.ta-community-menuBarContainer .ta-community-menuBar {
    background-color: #51B5D3;
}

.THIS.ta-community-menuBarContainer .ta-community-menuBar .ta-community-menuBarNarrow {
    max-width: 1280px;
    margin: 0px;
    padding: 5px;
}

.THIS.ta-community-menuBarContainer .ta-community-menuBar .ta-community-menuBarNarrow .ta-community-menuBarUserProfile .selfServiceProfileMenuTrigger .profileName {
    /* font-family: HelveticaNeue; */
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
}

.THIS.ta-community-menuBarContainer .ta-community-menuBar .ta-community-menuBarNarrow .ta-community-menuBarNotifications lightning-icon {
    color: #ffffff;

}

.THIS.ta-community-menuBarContainer .forceCommunityGlobalNavigation > *{
    max-width: 1280px;
}

.THIS.ta-community-mainContainer .forceCommunityUserSettings .savecancelbuttoncontainer .saveButton {
    color: #ffffff;
}

.THIS.ta-community-menuBarContainer .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>a:hover, 
.THIS.ta-community-menuBarContainer .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>a.slds-is-active:not([data-type="home"]),
.THIS.ta-community-menuBarContainer .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>button:hover,
.THIS.ta-community-menuBarContainer .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>button.slds-is-active:not([data-type="home"]) {
    color: #ffffff;
}

.THIS.ta-community-mainContainer .forceCommunityUserSettings .userSettingTabs.uiTabset .changepassword {
    color: #51B5D3;
}

.THIS.ta-community-mainContainer .forceCommunityUserSettings, .THIS.ta-community-mainContainer .forceCommunityUserSettings .userSettingTabs.uiTabset {
    background: #ffffff;
    padding: 10px;
}

.THIS.ta-community-mainContainer div[data-region-name=sidebar] {
    background: #ffffff;
    /*padding-top: 50px;*/
}

.THIS .myAccount {
    display:none;
}

.THIS .ta-community-mainContainer{
	max-width: 1280px;
    margin: 0 auto;
}