.THIS.slider-attribute header h3 {
    text-transform: none;
    /*color: rgb(67,67,76); /*#43434c*/
    color: rgba(0,0,0,0.9);
    margin: 0 0 5% 0;
    /*font-family: ProximaNova-Regular, Helvetica, Arial, sans-serif;*/
    font-family: "Salesforce Sans",Arial,sans-serif;
    font-size: 11px;
}
.THIS.slider-attribute input {
    width: 100%;
    margin: 10% 0 0 0;
}
.THIS.slider-attribute ul {
    padding: 0;
    margin: 0;
    position: relative;
}
.THIS.slider-attribute ul li {
    list-style: none;
    display: inline;
    float: left;
    position: absolute;
    /*font-family: ProximaNova-Regular, Helvetica, Arial, sans-serif;*/
    font-family: "Salesforce Sans",Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-left: 0;
}
.THIS.slider-attribute ul li:first-child {
    left: 0px;
}
.THIS.slider-attribute ul li:nth-child(2) {
    left: 25%;
}
.THIS.slider-attribute ul li:nth-child(3) {
    left: 50%;
}
.THIS.slider-attribute ul li:nth-child(4) {
    left: 75%;
}
.THIS.slider-attribute ul li:nth-child(5) {
    left: 98%;
}
.THIS.slider-attribute article {
    margin-bottom: 10%;
}