.font-weight-light {
    font-weight: 300;
}
.header-simulation{
    color: #00B7D7;
    .header-title{
        font-weight: bold;
    }
    .total{
        font-size: 30px;
        margin-bottom: 20px;
    }
    
}

.body-simulation{
    .items-row{
        display: inline-flex; 
        flex-direction: row;
        width:100%;
    
        div{
             width: 50%; 
             box-sizing:border-box;
        }
    }
}