<div class="slds-tile cpq-promo-item" ng-if="obj.category.toLowerCase() === importedScope.getCategorySelected().toLowerCase()">
    <div class="slds-media cpq-promo-item-container">
        <div class="slds-media__body" >
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-small-size--10-of-12 slds-medium-size--10-of-12 slds-large-size--10-of-12">
                    <p class="slds-tile__title slds-truncate promo-name">{{::obj.name}}</p>
                </div>
            </div>
            <div class="slds-tile__detail">
                <div class="slds-grid">
                    <div class="slds-col slds-small-size--8-of-12 slds-medium-size--7-of-12 slds-large-size--8-of-12 slds-text-align--left promo-info">
                        <div>
                            <span class="promo-label">{{::importedScope.customLabels.CPQPromoCode | uppercase}} </span>
                            <span class="slds-text-body--small"> {{::obj.code}}</span>
                        </div>
                        <div>{{::obj.description}}</div>
                        <div class="cpq-item-promotion-messages">
                            <ul ng-if="obj.messages.length > 0">
                                <li ng-repeat="msg in obj.messages" class="slds-p-vertical--xx-small">
                                    <span class="cpq-error-msg" ng-if="msg.severity === 'ERROR'">
                                        {{msg.message}}
                                    </span>
                                    <span class="cpq-warning-msg" ng-if="msg.severity !== 'ERROR'">
                                        {{msg.message}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="slds-col slds-small-size--4-of-12 slds-medium-size--5-of-12 slds-large-size--4-of-12 slds-text-align--right cpq-promo-actions">
                        <button class="slds-button slds-button--neutral add-button" ng-click="importedScope.addToCart(obj, true)" ng-disabled="!obj.actions || obj.category.toLowerCase() !== 'qualified'">
                            {{::importedScope.customLabels.CPQAddToCart}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>