ul.THIS {
    padding: 0;
}
ul.THIS li {
    list-style: none;
    text-align: center;
    color: #000;
    font-family: 'Salesforce Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 5% 0 5% 0;
}
ul.THIS .hidden {
    visibility: hidden;
}