<div 
    class="slds-tile cpq-product-item" 
    data-product-id="{{obj.Id.value}}"
    ng-controller="leftProductItemController as lpic"
    ng-init="lpic.init()">
    <div class="slds-media cpq-product-item-container">
        <div class="slds-media__body">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-small-size--10-of-12 slds-medium-size--10-of-12 slds-large-size--10-of-12">
                    <p class="slds-tile__title slds-truncate product-name">
                        {{::obj.Name.value}}
                        
                        <span 
                            class="prefaseablitiyLabel"
                            ng-if="obj.Product2.PrefaRequired__c && !obj.PrefaMade">
                            Requiere Prefactibilidad
                        </span>
                    </p>
                    
                    <span 
                        class="slds-tile__title slds-truncate"
                        ng-if="obj.Product2 && obj.Product2.Tipo_de_Bien_de_Uso__c == 'Tangible' && obj.Stock"
                        ng-class="{'taTextSuccess' : obj.Stock.Ammount }">
                        <!--{{::obj.Product2.Tipo_de_Bien_de_Uso__c}}-->
                        Stock: {{::obj.Stock.Ammount}}
                    </span>
                    
                </div>
                <div class="slds-colslds-small-size--2-of-12 slds-medium-size--2-of-12 slds-large-size--2-of-12">
                    <a href="#" ng-click="importedScope.viewMore()" class="product-link slds-text-body--small slds-float--right">
                        {{::importedScope.customLabels.CPQMore}}
                    </a>
                </div>
            </div>
            <div class="slds-tile__detail">
                <div class="slds-grid">
                    
                    <div class="slds-col slds-small-size--8-of-12 slds-medium-size--7-of-12 slds-large-size--8-of-12 slds-text-align--left product-description">
                        <div class="taPriceContainer">
                            <span class="taPrice">{{obj.OneTimePrice.value | currency:"$":0}}</span>
                        </div>
                        <span class="taItemDesc">{{obj.Product2.Description}}</span>
                        
                    </div>
                    
                    <div class="slds-col slds-small-size--4-of-12 slds-medium-size--5-of-12 slds-large-size--4-of-12 slds-text-align--right cpq-product-actions">
                        <button 
                            ng-if="!obj.Product2.PrefaRequired__c || obj.PrefaMade"
                            class="slds-button slds-button--neutral add-button" 
                            ng-click="importedScope.addToCart(obj)" 
                            ng-disabled="!obj.actions">
                            
                            {{::importedScope.customLabels.CPQAddToCart}}
                        </button>
                        
                        <button 
                            ng-if="obj.Product2.PrefaRequired__c && !obj.PrefaMade"
                            class="slds-button slds-button--neutral add-button" 
                            ng-click="$root.showModal = true; $root.iframeOSUrl(
            						'/apex/%vlocity_namespace%__OmniScriptUniversalPage?id=a1q6C0000001nl5QAA&layout=lightning&OmniScriptType=Sales&OmniScriptSubType=Installation%20Address&OmniScriptLang=English&ContextId=a1q6C0000001nl5QAA', 
            						{
            							orderId: params.id
            						});" 
                            ng-disabled="!obj.actions">
                            
                            <!--{{::importedScope.customLabels.CPQAddToCart}}-->
                            Validar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>