.massiveIncident-container {
    padding: 15px;
}

.via-slds.massiveIncident-container {
    tbody,
    thead {
        td, th {
            max-width: 30px;
            white-space: initial;
        }
    }
}