.techCare-PriceListSelection {
    &-wrapper {
        width: 100%
    }
    
    &.slds-table &-tbody {
        td, th {
            white-space: initial;
        }
        
    }
    &-tbody {
        &-checkbox {
            width: 60px;
        }
        tr.active {
            background: #f1f6f8;
        }
    }
}