.vlocity {
    .abandoned-section {
        .spacer {
            background-color: #00B7D7;
            height: 44px;
            box-sizing: border-box;
            text-align: left;
            font-size: 14px;
            color: white;
            box-sizing: border-box;
            padding: 9px;
            border-top: 1px solid #d8dde6;
            display: flex;
            align-items: center;

            &:hover {
                color: white;
            }
            i::before {
                color: white;
                font-size: 14px;
            }
        }
        .abandoned-section-header {
            cursor: pointer;
        }
    }
    
    .scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    }
}