.THIS label.uiLabel {
    padding-right: 12px;
}

.THIS .grisado {
    color: gray;
}

.THIS .field{
  padding: 5px;
  border: 1px solid #dce4ec;
  border-radius: 2px;
}

.THIS .col-cantidad {
    min-width: 60px;
}

.THIS .col-precio {
    min-width: 60px;
}

.THIS .borderColor {
    border-color: #b9afaf;
}

.THIS .textWhite {
    color: white;
}

.THIS .outputText {
    background-color: rgb(238, 238, 238);
    -webkit-appearance: caret;
}

.THIS .noMostrar {
    display: none;
}

@media only screen and (max-width: 480px) {
    .THIS .centerMobile{
        text-align: center;
    }
}


/* Inicio KAL-93 */

.THIS .KAL-ItemCarrito__Cantidad--AccAgregar {
 
}

.THIS .KAL-ItemCarrito__Cantidad--Valor {

}

.THIS .KAL-ItemCarrito__Cantidad--AccRestar {
 
}

/* Fin KAL-93 */