.THIS {
}
.THIS .slds-button {
    min-width: 75px;
}
.body__c.THIS {
    padding: 16px;
}
.body__c.THIS h1 {
    font-size: 2em;
    margin-bottom: 16px;
}
.body__c.THIS .input__c {
    display: inline-block;
    padding: 16px;
}
.body__c.THIS .input__c .input__c {
    padding: 0px;
    position: relative;
}
.body__c.THIS .input__c .input__c span.search__c{
    position: absolute;
    top: 2.5px;
    right: 8px;
    cursor: pointer;
}
.body__c.THIS .input__c .input__c span.search__c2{
    top: 20px;
}
.body__c.THIS .input__c .input__c span.search__c svg{
    fill: #CCCCCC;
    width: 20px;
}
.body__c.THIS .button__c {
    text-align: center;
    padding-top: 16px;
}
.THIS .button__c .slds-button--brand {
    background-color: #00b7c9;
    border-color: #00b7c9;
    margin-right: 8px;
}
.THIS .button__c .slds-button--neutral {
    border-color: #00b7c9 !important;
    color: #00b7c9 !important;
    margin-right: 8px;
}
.THIS .slds-form-element__help {
    position: absolute;
    top: -8px;
    right: 0;
}