.Accounts {
  width: 100%;
}

.Title {
  font-size: 22px;
  text-align: left;
  color: #16325c !important;
  color: var(--dark-slate-blue);
  padding-left: 15%;
  &-Description {
    font-weight: 300;
    color: #00396b;
  }
}