.ta-messaging {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 14px;
    padding: 8px 12px;
    
    background: #d54c4c;
    color: #fff;
    border-radius: 4px;
    &-closeBtn.slds-button {
        color: #fff;
        line-height: 1px;
        .slds-icon {
            fill: #fff;
        }
    }
}