.via-slds {
    .slds-card {
        .taNotificactionPanel {
            background: white;
			text-align: center;
			font-size: 16px;
			display: block;
			margin-bottom: 3px;
			height: 0;
            transition: height .5s;
			overflow: hidden;
			padding: 0;
			line-height: 38px;
			&.expanded {
			    height: 38px;
			}
			a {
			    color: #d9186b;
			}
        }
    }
}