@import url('/sfsites/c/resource/1510054232000/ta_slds/slds.min.css');

@font-face {
    font-family: 'Platform';
    src: url('/clientes/sfsites/c/resource/testfont');
}
/*@font-face {
    font-family: 'HelveticaNeue';
    src: url('../resource/communityfonts/HelveticaNeue.ttc');
}*/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/clientes/sfsites/c/resource/testfont2');
}

.via-slds.ta-community-services {
    font-family: Platform;    
}
    
.vlocity {
    .community_card-1x {
        border-radius: 5px;
    	background: #FFF;
    	border: solid 1px #e3e3e3;
    }
    
    .community_card-2x {
        border-radius: 5px;
    	background: #FFF;
    	border: solid 1px #e3e3e3;
    	height: 440px;
    }
    
    .gris {
        color: #333333 !important;
    }
    
    .celeste {
        color: #00b2c5 !important;
    }
    
    .celestebg {
        color: #FFF !important;
        background-color: #00b2c5 !important;
    }
    
    .Rectangle-2{
        width: 176px !important;
        height: 40px !important;
        border-radius: 5px;
        background-color: #ffffff !important;
        border: solid 1px #02b4c5 !important;
    }
    
    .Consultar {
        width: 144px;
        height: 16.4px;
        font-family: HelveticaNeue !important;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #02b4c5;
    }
    
    .HeadingLarge {
         font-family: Platform;
          font-size: 32px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0px;
          text-align: left;
          color: #333333;
    }
    
    .HeadingSmall {
      font-family: HelveticaNeue !important;
      font-size: 20px !important;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
    }
    
    .BodyDefault {
      font-family: HelveticaNeue !important;
      font-size: 14px !important;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
    }
    .title{
        font-weight: 300;
        font-size: 1.75rem;
        line-height: 1.25;
        margin-left: 10px;
      }
    .breadtext{
          padding: 0px 0px 0px 15px;
    }
}