.via-slds .slds-picklist .slds-dropdown.suggestion {
    width: calc(100% - .65rem);
    top: 80%;
    max-width: none;
}

.via-slds .slds-size--6-of-12 {
    width: 7%;
}

.via-slds .slds-form-element__control.vlc-slds-checkbox.taCheckbox {
    display: inline-block;
}

.via-slds .slds-form-element__control.vlc-slds-checkbox.taCheckbox .slds-checkbox {
    width: auto;
    display: inline-block;
}

.via-slds .slds-form-element__control.vlc-slds-checkbox.taCheckbox .slds-form-element__label.vlc-slds-inline-control__label {
    display: inline-block;
}