.account-select-container {
    margin-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin-right:auto; 
    margin-left:auto; 
    text-align:center; 
    border-bottom: solid 1px #E7EAF0;
}

.account-select {
    padding: 5px;
    width: 120px;
    border-radius: 5px;
}

.vlocity .account-select-table {
    width: 80%;
    td.account-select-label {
        text-align: right;
        padding-right: 30px;
        
        label {
            color: #333333;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 12px;	
            line-height: 14px;
        }
    }
    
    td.account-select-cont {
        text-align: left;
    }
}