.THIS.galleta {
    width: 0px;
}

.THIS.table_confirmation {
	width: 50px;
	padding-left: 35%;
	position: relative;

}

.THIS.sansserif {
    font-family: Lucida Console, Times, serif;
    letter-spacing:.03em;
    line-height:auto;
    font-size:13px;
    color:#808080;
}

.THIS.aligncol{
	width:33%;
}