.summary-style{
        
    color: #00396b;
    
    .background-style {
        width: 456px;
        min-height: 482px;
        border-radius: 10px;
        background-color: #eeeeee;
        border: solid 1px #999999;
        padding: 15px 15px 15px 20px;
    }
    
    .header-text{
        margin-bottom: 20px;
        font-size: 20px;
    }
    
    .top-data {
        width: 100%;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    
    .top-data .header-name{
        font-size: 20px;
        font-weight: bold;
    }
    
}