<article class="slds-card" ng-repeat="item in control.vlcSI[control.itemsKey]">
  <div class="slds-card__header slds-grid">
      <ul>
        <li ng-repeat="field in control.propSetMap.customOptions.header">
            <span>{{control.propSetMap.customOptions.header[$index].text_field}}<b> {{control.propSetMap.customOptions.header[$index].text_result.replace('{0}', item[control.propSetMap.customOptions.header[$index].params[0].fieldName])}}</b><b ng-if="control.propSetMap.customOptions.header[$index].params.length>1"> - {{control.propSetMap.customOptions.header[$index].text_plus.replace('{1}', item[control.propSetMap.customOptions.header[$index].params[1].fieldName])}}</b></span>
        </li>
      </ul>
  </div>
  <hr style="margin: 0px"/>
  <div class="slds-card__header slds-grid">
      <ul>
          <li>
              <span><b>Plazo actual: </b></span><br>
              <table style="margin-left:8%">
                  <col width="66%">
                  <col width="66%">
                  <tr>
                      <th><b>Inicio</b></th>
                      <th><b>Fin</b></th>
                  </tr>
                  <tr>
                      <td>{{control.propSetMap.customOptions.fields[1].text_result.replace('{0}', item[control.propSetMap.customOptions.fields[1].params[0].fieldName])}}</td>
                      <td>{{control.propSetMap.customOptions.fields[2].text_result.replace('{0}', item[control.propSetMap.customOptions.fields[2].params[0].fieldName])}}</td>
                  </tr>
              </table><br>
              <span> {{control.propSetMap.customOptions.fields[0].text_field}}<b> {{control.propSetMap.customOptions.fields[0].text_result.replace('{0}', item[control.propSetMap.customOptions.fields[0].params[0].fieldName])}}</b></span>
          </li>
      </ul>
  </div>
</article>