.THIS.omni-script.preview-block{
    background: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
}
.THIS.omni-script.preview-block h5 {
    width: 750%;
    /*font-size: 32px;*/
    color: #059DD3;
    font-family: "Salesforce Sans", Arial, sans-serif;
}