ul.THIS input[type=text] {
    border: 0;
    background-color: rgb(245,245,250); 
    float: left;
    color: rgb(0,0,0);
    padding: 4px;
    margin: 4px 0 4px 4px;
}

ul.THIS input[type=text]:focus {
    outline: 0 none;
}