.vlocity {
    .availables_ammount {
        color: #333333;
        clear: both;
        display: block;
        font-family: 'Platform Light' !important;
    	font-size: 42px;
    	font-weight: 300;
        height: 57px;
        text-align: center;
        width: 100%;
    }
    
    .availables_unit {
        color: #333333;
        clear: both;
        display: block;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
    
    .availables_icon {
    }
    
    .availables_svg {
        display: inline;
        text-align: center;
    }
}