// @import "ta-cards-layout";

/*** VARIABLES ***/
@import "variables";


      
.vlocity {
    
.active {
  color: #00b4c5; }
    
.inActivation {
  color: #999; }

.limited {
  color: #d9ad07; }

.activeIcon {
  fill: #00b4c5; }

.inactiveIcon {
  fill: #d9186b; }

.inActivationIcon {
  fill: #999; }

.limitedIcon {
  fill: #d9ad07; }

.activeIcon,
.inactiveIcon,
.inActivationIcon,
.limitedIcon {
  margin: 5px; }
    
    .slds-icon-text-default {
        fill: #333 !important;
    }
    
    .sortable_indicator {
        display: inline-block;
        fill: #C7C7C7 !important;
        margin-left: 4px;
        width: 13px;
    }
    
    .slds-is-sorted .sortable_indicator {
        display: none !important;
    }
}