.THIS.galleta {
    width: 0px;
}

.THIS.table_confirmation {
	width: 50px;
	padding-left: 35%;
	position: relative;

}

.THIS .grisadoResumen {
	color: gray;
}

.THIS.sansserif {
    font-family: Lucida Console, Times, serif;
}