.THIS.body__c, .THIS.body__c #spinner_loading {
    position: relative;
    min-height: 100px;
}
.THIS .btn-wrap {
    background-color: transparent !important;
    border-color: transparent !important;
    margin-right: 0 !important;
    padding: 0 !important;
}
.THIS .btn-wrap.gray .slds-icon {
    fill: #cccccc !important;
    cursor: not-allowed !important;
}
div.cWorkTeamList.header__c {
    border-bottom: 1px solid #cccccc;
    padding: 16px;
}
div.cWorkTeamList.header__c h1{
    font-size: 2em;
    margin-bottom: 16px;
}
div.cWorkTeamList.header__c > div {
    position: relative;
    display: inline-block;
}
div.cWorkTeamList.header__c .input_search .inputKeyName > span {
    position: absolute;
    top: 0px;
    right: 8px;
    cursor: pointer;
}
div.cWorkTeamList.header__c .input_search .inputKeyName > span svg{
    width: 20px;
    fill: #CCCCCC;
}
div.cWorkTeamList.header__c .button__c button {
    width: 90%;
}
div.cWorkTeamList.body__c .slds-grid {
    max-width: 100%;
    display: block;
}
div.cWorkTeamList.body__c .slds-grid .slds-card {
    margin: 1.5%;
    width: 30%;
    display: inline-block;
}
@media only screen and (max-width: 767px) {
    div.cWorkTeamList.body__c .slds-grid .slds-card {
        width: 97%;
    }
}
div.cWorkTeamList.body__c .slds-grid .slds-card .slds-card__body {
    padding: 16px;
}
div.cWorkTeamList.body__c .slds-grid .slds-card+.slds-card {
    margin-top: 0;
}
div.cWorkTeamList.body__c .slds-grid .slds-button-group {
    border-top: 1px solid #cccccc;
    width: 100%;
    padding-top: 16px;
    margin-top: 16px;
}
div.cWorkTeamList.body__c .slds-grid .slds-button, div.cWorkTeamList.header__c .button__c .slds-button {
    background-color: #00b7c9;
    border-color: #00b7c9;
    margin-right: 8px;
}
div.cWorkTeamList.body__c .slds-grid .slds-icon {
    fill: #00b7c9;
    margin-right: 8px;
    cursor: pointer;
}