.THIS .Container {
    width:100%;
    /* position: fixed; */
    background: #fff;
    float: left;
    z-index: 1;
}
.THIS .Left {
    width:50%;
    height:100%;
    float:left;
}
.THIS .Right {
    width:50%;
    height:100%;
    float:right;
}