<!-- <pre>
   {{control.propSetMap.selectableItemConfig |json}}
</pre> -->

<div 
	ng-controller="TSModuleCtrl as mmc"
	style="width: 100%"	
	ng-if="bpTree.response.Repairs.Items">
	<table 
		class="slds-table slds-table--bordered slds-table--cell-buffer techCare-PriceList">    
		<thead>
			<tr class="slds-text-title--caps">
				<th scope="col">
					<div class="slds-truncate" title="Name">Nombre</div>
				</th>
				<th scope="col">
					<div class="slds-truncate" title="Description">Descripción</div>
				</th>
				<th scope="col">
					<div class="slds-truncate" title="Price">Precio</div>
				</th>
			</tr>
		</thead>
		<tbody class="techCare-PriceList-tbody">
			<tr ng-repeat="item in bpTree.response.Repairs.Items">
				<th scope="row" data-label="Name">
					<div class="" title="Name">{{item.Name}}</div>
				</th>
				<td data-label="Description">
					<div class="" title="Description">{{item.Description}}</div>
				</td>
				<td data-label="Price">
					<div class="" title="Price">${{item.Price}}</div>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>