.customerStory {
    &-header.slds-theme--shade {
        background: #fff;
        font-family: "Helvetica Neue";
        color: #00B4C5;
        padding: 9px;
        height: 44px;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
    }
    &-header .slds-text-body_regular {
        font-size: 14px;
        font-weight: inherit;
        cursor:pointer;
        
        i::before {
            color: #00B4C5;
            font-size: 18px;
            font-weight: 600;
        }
    }
    &-dropdown {
        width: 100% !important;
    }
    .slds-picklist {
        width: 100px;
    }
    &-optionIcon {
        position: absolute;
        top: 0;
        right: 7px;
        transform: translate(0,20%);
        .slds-icon {
            fill: #000;
            width: 17px;
        }
    }
}

.customer-story-label {
    padding: 5px !important;
}


.via-slds-story-cards--header {
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}

.via-slds-story-cards--header-title {
    position: relative;
}

.vlocity {
    .story-header select {
        border-radius:5px;
        width: 150px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: black;
    }
}