.vlocity {
    .table.tableCSS {
        table-layout: auto; 
        // width: 10%;
        margin-left: 0px;
        td.taEmailContainer{
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
        
        .slds-icon {
            fill: #49739c;
        }

    }
    
    .vloc-table-wrapper-scrollable {
        overflow: scroll;
        max-height: 500px;
    }
    
    .vloc-tracking-icon {
        visibility: hidden;
     }
        
        
    tr:hover .vloc-tracking-icon {
        visibility: visible;
    }
        
    .is-tracked .vloc-tracking-icon {
        visibility: visible;
        fill: #9FBD7F; 
    }
    .searchClient-body .invalidEmail{
        font-weight: bold;
        color: #C23934;
        cursor: pointer;
    }
    .ta-email-input {
        min-width: 200px;
        height: 2.0rem;
        min-height: auto;
        vertical-align: middle;
    }
    .ta-no-result-msg {
        margin-bottom: 10px;
    }
}

 .color-row{
    border:1px solid #007c85;
    padding: 0px 5px 1px 5px;
}

 .vloc-tracking-icon {
    visibility: hidden;
 }
        
        
tr:hover .vloc-tracking-icon {
    visibility: visible;
 }
        
.is-tracked .vloc-tracking-icon {
    visibility: visible;
    fill: #9FBD7F; 
}