/*** CPQ Theme VARIABLES ***/
@import "cpq-theme-variables";

/*** MIXINS ***/
@import "cpq-mixin";

/*** STYLES ***/
.vlocity {
    .next-product {
         padding: $cpq-padding-large-vertical;   
         
         .slds-spinner_container {
            position: relative;
            padding-top: 10px;
         }
    }
}