<div class="slds-grid slds-nowrap cpq-total-card" ng-controller="SalesCPQTotalCardController as ctrl">
    
    <div class="slds-notify_container" ng-show="ctrl.errorMessage">
      <div class="slds-notify slds-notify--toast slds-theme--error" role="alert">
        <span class="slds-assistive-text">Error</span>
        <button class="slds-button slds-notify__close slds-button--icon-inverse" title="Close" ng-click="ctrl.errorMessage = null;">
            <slds-svg-icon
                sprite="'utility'"
                icon="'close'"
                size="'x-small'"
                no-hint="true"
                extra-classes="'slds-button__icon svg-icon-margin'">
            </slds-svg-icon>
          <span class="slds-assistive-text" >Close</span>
        </button>
        <div class="slds-notify__content slds-grid">
            <slds-svg-icon
                sprite="'utility'"
                icon="'warning'"
                size="'small'"
                no-hint="true"
                extra-classes="'slds-col slds-no-flex slds-icon'">
            </slds-svg-icon>
          <div class="slds-col slds-align-middle">
            <h2 class="slds-text-heading--small slds-m-right--small slds-m-left--small">{{ctrl.errorMessage}}</h2>
          </div>
        </div>
      </div>
    </div>
    
    <div class="slds-col slds-shrink slds-text-align--center">
     <div class="slds-text-body--small">Límite de crédito</div>
        <div class="slds-text-heading--medium">
            {{$root.limiteDeCredito | currency:"ARS"}}
        </div>  
    </div>
    
    <div class="slds-col slds-shrink slds-text-align--center" ng-repeat="field in data.fields">
     <div class="slds-text-body--small">{{field.label}}</div>
        <div class="slds-text-heading--medium">
            {{obj | getter: field | picker: field.type}}
        </div>  
    </div>
    
    <div class="slds-col slds-align-middle cart-action slds-no-flex">
        <button class="slds-button slds-m-left--large slds-button--brand ta-button-brand"  
          ng-repeat="action in data.actions | limitTo:1"
          ng-click="ctrl.onClickSalesConfiguration(action, importedScope.checkoutActionConfig)"
          ng-disabled="!records.actions || !records.actions.checkout || importedScope.hasError">
          <span ng-show="records.actions && records.actions.checkout">{{action.displayName}}</span>
          <span ng-show="!records.actions || !records.actions.checkout">{{::importedScope.customLabels.CPQTotalIncomplete}}</span>
        </button>
    </div>
</div>