/*** VARIABLES ***/
/*** VARIABLES ***/
/*** MIXINS ***/
/*** MIXINS ***/
@font-face {
  font-family: 'Platform Light';
  src: url("/resource/ta_slds/fonts/platform-light.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Platform Regular';
  src: url("/resource/ta_slds/fonts/platform-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

.vlocity .big_title {
  font-family: "Platform Light", Platform, "Salesforce Sans", Arial, sans-serif;
  background: #FFF !important;
  font-size: 42px; }

.vlocity .slds-datepicker__month tbody tr td a {
  display: none; }

.vlocity .pagination-grid {
  padding: 15px; }
  .vlocity .pagination-grid .disabled {
    cursor: not-allowed;
    color: grey; }
  .vlocity .pagination-grid .active {
    color: #000; }
  .vlocity .pagination-grid-optionIcon {
    position: absolute;
    top: 0;
    right: 7px;
    transform: translate(0, 20%); }
    .vlocity .pagination-grid-optionIcon .slds-icon {
      fill: #9FAAB5;
      width: 15px; }
  .vlocity .pagination-grid-dropdown.slds-dropdown-trigger--click {
    width: 100px; }
  .vlocity .pagination-grid-dropdown-expanded.slds-dropdown--left {
    width: 100%; }

.vlocity .slds-picklist__input {
  width: 100%; }

#text-input-02 {
  margin-right: 3rem;
  padding-right: 0; }

.text-output-error {
  color: red;
  font-weight: bold; }

.via-slds .slds-picklist .slds-datepicker {
  width: 50rem; }