.THIS .page{
	/*height:100%;*/
}

.THIS .logo {
    width: 84px;
    margin: 11px; 
}

.THIS .qr{
    height:100%;
}

.THIS hr.ta-smallMarginBottom {
    margin: 2rem 0 1rem;
}

.THIS header.ta-login-header {
    background-color: #51b5d3;
    /*position: fixed;*/
    top: 0;
    left: 0px;
    width: 100%;
    padding: 5px 0;
}

.THIS .slds-global-header__logo{
    width:100%;
    background-position:center;
}

.THIS header.ta-login-header .ta-login-headerNarrow {
    max-width: 1280px;
    /* margin: 0 auto; */
}

.THIS h1, .THIS h2{
    font-family: Platform !important;
    text-align: left;
    margin-left: 20px;
    font-weight: 100 !important;
    margin-top: 30px;
    font-size: 1.9rem !important;
}

.THIS h2{
    font-size: 1rem !important;
    margin-left: 0px;
    margin-bottom: 10px;
}

.THIS .label{
    text-align: left;
    font-size: 16px;
    /* font-family: Lato; */
    font-weight: bold;
    
    height: 16px;
    font-family: HelveticaNeue !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #999999;

}

.THIS .form-container{
    text-align: left;
    width: 60%;
    min-width: 200px;
    margin: auto;
}


.THIS section.ta-login-container{
    padding-bottom: 50px;
    font-family: HelveticaNeue !important;
}

.THIS section.ta-login-container .ta-login-form {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(173, 173, 173, 0.51);
    max-width: 500px;
    margin: 50px auto;
    padding-top: 10px;
    padding-bottom: 10px; 
    
}

.THIS section.ta-login-container .ta-login-form .salesforceIdentityForgotPassword2 {
    text-align: left;
    width: 60%;
    min-width: 200px;
    margin: auto;
}

.THIS section.ta-login-container .ta-login-form  .inputContainer {
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    margin: 5px 0px 8px 0px;
    padding: 0;
}

.THIS section.ta-login-container .ta-login-form input, .THIS section.ta-login-container .ta-login-form button{
    width: 100%;
}

.THIS section.ta-login-container .ta-login-form input {
    padding: 7px;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    font-family: HelveticaNeue !important;
}

.THIS section.ta-login-container .ta-login-form input[type=text], .THIS section.ta-login-container .ta-login-form input[type=password]{
    border-radius: 2px;
}

.THIS section.ta-login-container .ta-login-form input.inputBox {
    margin: 0;
}

.THIS section.ta-login-container .ta-login-form  .inputContainer lightning-icon {
    display: none;
}

.THIS .slds-button.slds-button--brand.loginButton{
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 12px;
    border-radius: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: #51b5d3;
}

.THIS .slds-button.slds-button--brand.loginButton .label {
    color: #ffffff;
}

.THIS .slds-button.slds-button--brand.loginButton:disabled,
.THIS .slds-button.slds-button--brand.loginButton[disabled],
.THIS .slds-button.slds-button--brand.loginButton[disabled]:hover,
.THIS .slds-button.slds-button--brand.loginButton:disabled:hover
{
    background: #ccc;

}

.THIS .slds-button.slds-button--brand.loginButton:hover{
    background: #008592;
}

.THIS .slds-button.ta-linkButton {
    margin-top: 10px;
}

.THIS .slds-button.ta-linkButton a {
    color: rgb(81, 181, 211);
}

.THIS footer {
    background-color:#f4f4f4 !important;
    font-family: HelveticaNeue;
    width: 100%;
    /*position: fixed;*/
    left: 0px;
    height: 50px;
    bottom: 0px;
}