.vlocity {
    .prepaid-flyout-device-info {
        padding: 0 20px 15px 10px;
        span {
            color: #9999a7;
        }
        .slds-col {
            &:last-child {
                //text-align: right;
            }
            h1 {
                font-size: 1.4em;
            }
        }
    }
}